<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resources/css/styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/css/bootstrap.min.css') }}">